<div class="row">
  <div class="col-md-12">
    <h1>Doppelt<br><small>Prototype</small></h1>
    <p>{{ test }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-lg" ng-click="onConnect()">Connect</button>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-lg" ng-click="onSend()">Send</button>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-lg" ng-click="onDisconnect()">Disconnect</button>
  </div>
</div>

<div class="row">
  <div id="messageList" class="col-md-1"></div>
</div>
